<section class="container-fluid col-lg-12 col-md-12 col-sm-12  bg-secondary">

    <section class="row">

        <div class="col-lg-4 col-mg-4 col-sm-12 text-white">
            <h4 class="text-white">AboutCompany</h4>
            <div class="about-company">
                <img src="../../assets/google.png" alt="logoimage" class="logo">
                <p>
                    Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising ...
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-mg-3 col-sm-6">
            <h4 class="text-white">Courses</h4>
            <div class="row">
                <div id="course" class="col-sm-5 w-25 p-0">
                    <a href="#" class="nav-link text-white">HTML</a>
                    <a href="#" class="nav-link text-white">CSS</a>
                    <a href="#" class="nav-link text-white">JavaScript</a>
                    <a href="#" class="nav-link text-white">jQuery</a>
                    <a href="#" class="nav-link text-white">Bootstrap</a>
                    <a href="#" class="nav-link text-white">JSON</a>
                </div>
                <div id="course" class="col-sm-7 w-75 p-0">
                    <a href="#" class="nav-link text-white">AJAX</a>
                    <a href="#" class="nav-link text-white">Typescript</a>
                    <a href="#" class="nav-link text-white">Angular</a>
                    <a href="#" class="nav-link text-white">NodeJs</a>
                    <a href="#" class="nav-link text-white">MySql</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-mg-5 col-sm-6">

            <div>
                <h4 class="text-white">Contact</h4>
                <p class="text-white">
                    Google Info-tech<br> BTM-Layout 2nd stage 5th Cross,<br> Banglore- 500082,<br>Karnataka,<br>India,<br>googleinfo@gmail.com.
                </p>
                <div class="social">
                    <a href="https://www.facebook.com/" target="blank"><span class="fa fa-facebook-square"></span></a>
                    <a href="https://www.instagram.com/" target="blank"><span class="fa fa-instagram text-danger"></span></a>
                    <a href="https://twitter.com/" target="blank"><span class="fa fa-twitter-square"></span></a>
                    <a href="https://stackoverflow.com/" target="blank"><span class="fa fa-stack-overflow text-warning"></span></a>
                    <a href="https://www.youtube.com/" target="blank"><span class="fa fa-youtube text-danger"></span></a>
                    <a href="https://www.linkedin.com/" target="blank"><span class="fa fa-linkedin"></span></a>
                </div>
            </div>
        </div>

    </section>

</section>