<section class="container bg-light mt-2">
    <section class="row p-2">
        <section class="col-lg-3 col-md-3 col-sm-3">
            <ul class="list-group">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">Javasript</li>
                <li class="list-group-item">jQuery</li>
                <li class="list-group-item">Bootstrap</li>
                <li class="list-group-item">JSON</li>
                <li class="list-group-item">AJAX</li>
                <li class="list-group-item">Angular</li>
                <li class="list-group-item">NodeJS</li>
                <li class="list-group-item">MySql</li>
            </ul>
        </section>
        <section class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="text-center text-info mb-2">Brief Defination of Offerd courses</h4>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#webDevelopment">WebDevelopment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mobileDevelopment">Mobile Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#uiDevelopment">UI Development</a>


            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="webDevelopment">
                    <small class="text-justify">Android Studio is the official integrated development environment (IDE) for Google's Android ... version compatibility and other problems; ProGuard integration and app-signing capabilities; Template-based wizards to create common Android

                    </small>
                </div>
                <div class="tab-pane container fade" id="mobileDevelopment">
                    <small class="text-justify">
                      A server-side dynamic web page is a web page whose construction is controlled by an .... It is a web application
                      development technique for dynamically interchanging content, and it sends requests to the server for data in order to do
                      so.
                    </small>
                </div>
                <div class="tab-pane container fade" id="uiDevelopment">
                    <small class="text-justify">
                      The role of a User Interface (UI) developer is to provide the user interface solution to the end user, including the
                      final look, feel and behaviour of the interface in different contexts. They role of a UI Developer is the
                      transformational combination of the roles of both the Web Designer and the Web Developer.
                    </small>
                </div>
            </div>
        </section>
        <section class="col-lg-3 col-md-3 col-sm-3">
            <p class="text-center text-danger">Course Enquery form</p>
            <form>
                <div class="form-group">
                    <label for="name">Enter Your Full name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter your Address</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="phono">Enter ContactNo</label>
                    <input type="tel" class="form-control" id="phono" placeholder="Phoneno">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Course</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>Javascript</option>
                    <option>Jquery</option>
                    <option>Bootstrap</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary" id="submitform">Submit</button>
            </form>
        </section>
    </section>
</section>